body, html {
  height: 100%;
}
.main {
  width: 95%;
  max-width: 100em;
  margin: 0 auto;
}
[data-template] {
  display: none;
}
.rounds::after {
  content: '';
  display: block;
  clear: both;
}
.rounds .round {
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  margin: -5px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  background: #AAA;
  color: #000;
  transform: scale(0.55);
}
.rounds .round:hover {
  transform: scale(1);
  color: #000;
  z-index: 10;
}
.rounds .round.red {
  background: #F00;
  color: #FFF;
}
.rounds .round.blue {
  background: #00F;
  color: #FFF;
}
.rounds .round.tie {
  background: #0F0;
  color: #000;
}
#stage {
  position: relative;
  overflow: hidden;
}
#stage .terain {
  position: absolute;
  top: 0;
  left: 0;
}
#stage .terain .cell {
  background: #EEE;
  float: left;
}
#stage .terain .cell.cell-1 {
  background: #333;
}
#stage .terain .cell.cell-2 {
  background: #888;
}
#stage .terain .linebreak {
  clear: both;
}

#stage .tank {
  background: url(/static/tank-blue.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  z-index: 10;
  opacity: 1;
}
#stage .tank .mark {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  text-shadow: 1px 1px 2px #000;
}
#stage .tank-red {
  background-image: url(/static/tank-red.png);
}
#stage .bullet {
  position: absolute;
  z-index: 10;
  opacity: 1;
}
#stage .bullet::after {
  content: '';
  display: block;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  background: #00F;
}
#stage .bullet-red::after {
  background: #F00;
}
#stage .direction-up {
  transform: rotate(0deg);
}
#stage .direction-left {
  transform: rotate(-90deg);
}
#stage .direction-right {
  transform: rotate(90deg);
}
#stage .direction-down {
  transform: rotate(180deg);
}
#stage .destroyed {
  transform: scale(10);
  opacity: 0;
}
